<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/slate/bootstrap.min.css">
    <title>Index</title>
</head>

<body>
    <header>
        <br>
        <b>
            <h1 class='text-center'>Twhat's Happening?</h1>
        </b>
    </header>
    <div class="container">
        <div class="text-center">
            <br>
            <br>
            <p>
                <a class="btn btn-primary btn-lg" href="/map" target="_blank" role="button">See Tweets by City</a>
                <a class="btn btn-primary btn-lg" href="/twitterize" role="button">Load New Tweets</a>
                <a class="btn btn-primary btn-lg" href="/scrape" role="button">City News</a>
            </p>
        </div>
        <div class="text-center">
            <img data-attachment-id="1345" data-permalink="https://bitnews725.wordpress.com/2018/04/15/taxi-trade-watch-dogs-bridgend-council-chief-executive-and-cabinet-named-their-stupid-horse-taxi-badge-a-wayward-bet-for-cab-drivers-applying-logic/tenor-34/"
                data-orig-file="https://bitnews725.files.wordpress.com/2018/04/tenor-34.gif?w=840" data-orig-size="374,222" data-comments-opened="1"
                data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}"
                data-image-title="tenor (34)" data-image-description="" data-medium-file="https://bitnews725.files.wordpress.com/2018/04/tenor-34.gif?w=840?w=300"
                data-large-file="https://bitnews725.files.wordpress.com/2018/04/tenor-34.gif?w=840?w=374" class="alignnone size-full wp-image-1345"
                src="https://bitnews725.files.wordpress.com/2018/04/tenor-34.gif?w=840" alt="tenor (34).gif">
        </div>
        <div class="container">
            <!-- <p>{{google}}</p> -->
        </div>
    </div>
    <!-- D3 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>
    <!-- Leaflet JavaScript -->
    <script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
    <script type="text/javascript" src="https://unpkg.com/leaflet.markercluster@1.0.3/dist/leaflet.markercluster.js"></script>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.Default.css">
    <!-- <script src="http://127.0.0.1:8080/twitter.js"></script>
        <script src="http://127.0.0.1:8080/justgage.js"></script>
        <script src="http://127.0.0.1:8080/raphael-2.1.4.min.js"></script> -->
</body>

</html>